*{
    margin:0px;
    padding: 0px;
}

div{
    margin:5px;
    padding: 5px;
    border:2px solid red;

    width: 75vw;
    height: 100vh;
}

div>p:nth-child(1){
    background-color: yellow;
    color: red;
    
}

.box{
    width: 70vw;
    height: 20vh;

    margin:5px;
    padding:10px;
    border:2px solid black;

    background-color: blue;
    color: whitesmoke;

}