@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
header{
    height: 90px;
    margin:5px;
    background-color: black;
    color:white;

    text-shadow: 1px 1px 1px rgb(253, 58, 4,1);
    text-decoration: none;
    text-transform: capitalize;
}

main{
    height:622px;
}
.list{
    display: list-item;
    text-align: left;
    text-transform: capitalize;


    list-style:lower-alpha;
    list-style-position: inside;
    border:1px solid black;
    margin:5px;
    color:brown;
}

header h1{
    display: inline-block;
    font-family: "Playwrite AU SA", serif;
    font: size 23px;
    font-weight:200;

    margin-left: 15px;
    margin-right: 200px;
    padding:0px;
}

.anchor{
    text-decoration: none; 
    color:rgb(81, 198, 58);
    font-family: "Playwrite AU SA", serif;
    text-shadow: 1px 1px 1px rgb(243, 119, 18,1);
    font-size:16px;
    font-weight: 200;

    margin-right:80px;
}

header a:hover{
    color: red;
}

#search{
    background-color: white;
    color: black;

    margin-right: 5px;
    width: 250px;
    height:18px;

}


footer{

    height:15px;
    padding:5px;
    margin: 5px;

    background-color: black;
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    display:flex;
    justify-content: center;
    
}